@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  /* colors */
  --clr-primary-blu: hsl(233deg, 26%, 24%);
  --clr-primary-grn: hsl(136deg, 65%, 51%);
  --clr-primary-cyn: hsl(192deg, 70%, 51%);
  --clr-neutral-100: hsl(233deg, 8%, 62%);
  --clr-neutral-200: hsl(220deg, 16%, 96%);
  --clr-neutral-300: hsl(0deg, 0%, 98%);
  --clr-neutral-white: hsl(0deg, 0%, 100%);
  /* typography */
  --ff-body: "Public Sans", sans-serif;
  --fs-body: clamp(0.875rem, 0.5259661836rem + 0.0096618357 * 100vw, 1.125rem);
  --fs-h1: clamp(2rem, 0.9528985507rem + 0.0289855072 * 100vw, 2.75rem);
  --fs-h2: clamp(1.75rem, 1.2264492754rem + 0.0144927536 * 100vw, 2.125rem);
  --fs-h3: clamp(1.125rem, 0.7759661836rem + 0.0096618357 * 100vw, 1.375rem);
  --fs-h4: clamp(0.9375rem, 0.8502415459rem + 0.0024154589 * 100vw, 1rem);
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
  /* Utility */
  --transition-fast: 150ms ease-in-out;
  --transition-std: 200ms ease-in-out;
  --transition-slow: 300ms ease-in-out;
  --padding-x: 0 1.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
  global styles
*/
body {
  color: var(--clr-neutral-100);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-normal);
  text-align: center;
}
body.noscroll {
  overflow: hidden;
}
@media (min-width: 62rem) {
  body {
    text-align: left;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: var(--fw-normal);
  line-height: 1;
}

h1, h2 {
  margin-bottom: 1.875rem;
}
@media (min-width: 62rem) {
  h1, h2 {
    margin-bottom: 2.5rem;
  }
}

h1 {
  font-size: var(--fs-h1);
  line-height: 1.15;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

/*
    Utility Classes
*/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 69.375rem;
}
@media (max-width: 48rem) {
  .container {
    padding: 0 1.5rem;
  }
}

.p-0 {
  padding: 0;
}

.p-x {
  padding: var(--padding-x);
}

.flex {
  display: flex;
}

@media (max-width: 62rem) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 62rem) {
  .hide-for-desktop {
    display: none;
  }
}

/*
  animation styles
*/
@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in var(--transition-slow) forwards;
          animation: fade-in var(--transition-slow) forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out var(--transition-slow) forwards;
          animation: fade-out var(--transition-slow) forwards;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4rem;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*
  button styles
*/
.btn {
  background: linear-gradient(to left, var(--clr-primary-grn), var(--clr-primary-cyn));
  color: var(--clr-neutral-white) !important;
  font-weight: var(--fw-bold);
  padding: 0.8125rem 1.875rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: opacity var(--transition-std);
}
.btn:hover {
  opacity: 0.75;
}

/*
    Header Classes
*/
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 4.0625rem;
  font-size: 1rem;
}
.header .nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.5em;
  z-index: 1000;
}
.header .nav-toggle .hamburger::before, .header .nav-toggle .hamburger::after, .header .nav-toggle .hamburger {
  background-color: var(--clr-primary-blu);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.header .nav-toggle .hamburger {
  display: block;
  position: relative;
}
.header .nav-toggle .hamburger::before, .header .nav-toggle .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.header .nav-toggle .hamburger::before {
  top: 6px;
}
.header .nav-toggle .hamburger::after {
  bottom: 6px;
}
@media (min-width: 62rem) {
  .header {
    height: 5rem;
    justify-content: space-between;
  }
  .header img {
    height: 1.375rem;
  }
  .header .nav__list-link {
    position: relative;
    color: var(--clr-neutral-100);
    transition: color var(--transition-std);
  }
  .header .nav__list-link::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    background: var(--clr-primary-grn);
    left: 0;
    right: 0;
    bottom: -30px;
    opacity: 0;
    transition: opacity var(--transition-std);
  }
  .header .nav__list-link:hover {
    color: var(--clr-primary-blu);
  }
  .header .nav__list-link:hover::after {
    opacity: 1;
  }
  .header .overlay {
    position: absolute;
  }
  .header li {
    display: inline-block;
  }
  .header li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.nav-open a {
  color: var(--clr-primary-blu);
}
.nav-open ul {
  padding: 0;
}
.nav-open .overlay {
  position: fixed;
  top: 3.75rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary-blu);
  background: linear-gradient(var(--clr-primary-blu), transparent);
}
.nav-open .nav {
  display: block;
  position: absolute;
  top: 4.6875rem;
  right: 1rem;
  left: 1rem;
  z-index: 10;
  background-color: var(--clr-neutral-white);
  font-size: 1.125rem;
  text-align: center;
  border-radius: 0.5rem;
}
.nav-open .nav__list {
  margin: 2.1875rem 0;
}
.nav-open .nav__list-item:not(:last-child) {
  padding-bottom: 1.875rem;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translate(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}

/*
    Hero Classes
*/
.hero {
  background-color: var(--clr-neutral-300);
}
@media (min-width: 62rem) {
  .hero__container {
    display: flex;
    align-items: center;
  }
}
.hero__img {
  position: relative;
  background-image: url("/assets/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}
@media (min-width: 48rem) {
  .hero__img {
    min-height: 25rem;
    background-position: center 70%;
  }
}
@media (min-width: 62rem) {
  .hero__img {
    flex: 3;
    order: 2;
    height: 41.25rem;
    background-image: none;
  }
}
@media (min-width: 62rem) {
  .hero__img::before {
    content: "";
    position: absolute;
    height: 104%;
    background-image: url("/assets/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
  }
}
.hero__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
  left: 0;
}
@media (min-width: 48rem) {
  .hero__img::after {
    background-size: 52%;
  }
}
@media (min-width: 62rem) {
  .hero__img::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }
}
.hero__text p {
  margin-bottom: 2.5rem;
}
@media (max-width: 48rem) {
  .hero__text {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 62rem) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}

/*
    Features Classes
*/
.features {
  background-color: var(--clr-neutral-200);
  padding: 4.375rem 0;
}
@media (min-width: 62rem) {
  .features {
    padding: 6.875rem 0;
  }
}
.features__container > p {
  padding-bottom: 3.75rem;
}
@media (min-width: 62rem) {
  .features__container > p {
    max-width: 40.625rem;
    padding-bottom: 4.375rem;
  }
}
.features__title h3 {
  margin-bottom: 1.875rem;
}
@media (min-width: 62rem) {
  .features__title h3 {
    margin-bottom: 2.1875rem;
  }
}
.features__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.1875rem;
}
@media (min-width: 48rem) {
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62rem) {
  .features__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.features__icon {
  margin-bottom: 1.875rem;
  display: inline-block;
}
@media (min-width: 62rem) {
  .features__icon {
    margin-bottom: 2.8125rem;
  }
}/*# sourceMappingURL=main.css.map */