@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

/*
  global styles
*/

body {
    color: var(--clr-neutral-100);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    text-align: center;
    overflow-x: hidden;

    &.noscroll {
        overflow: hidden;
    }

    @include m.breakpoint(lg) {
        text-align: left;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: var(--fw-normal);
    line-height: 1;
}

h1, h2 {
    margin-bottom: f.rem(30);

    @include m.breakpoint(lg) {
        margin-bottom: f.rem(40);
    }
}

h1 {
    font-size: var(--fs-h1);
    line-height: 1.15;
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}